<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Ajouter un potin</a>
    <br/><a href="/gossips/edit/"></a>
    <br/>
    <p>Liste des potins: </p>
    <% gossips.each_index do |i| %>
    	<br/>
    	<a href=/gossips/<%= i %> >-Auteur: <%= gossips[i].author %> </a><br/>
    	<a href=/gossips/<%= i %> >-Potin: <%= gossips[i].content %> </a><br/>
    	<a href=/gossips/edit/<%= i %> >editer</a>
    	<p>Commentaires: </p>
    	<% gossips[i].comment.length.times do |i| %>
			<p>-<%= comment[i] %> </p><br/>
    	<% end %>
    	<form action='comment/<%= i %>' method='POST'>
	    <input type='text' name='comment_content'/><br/>
	    <input type='submit'/>
    </form>
    	<br/>
    <% end %>
  </body>
</html>